* { padding: 0; margin: 0; }
html, body, #fullheight {
    min-height: 100% !important;
    height: 100%;
}
#fullheight {
    width: 250px;
    background: blue;
}

body {
  font-size: 1.5em;
  /* currently ems cause chrome bug misinterpreting rems on body element */
  font-weight: 400;
  font-family: Helvetica, Arial, sans-serif;
  color: #FFFFFF;
}

a :hover {
  color: cornflowerblue;
  text-decoration: underline;
}

a:link {
  color: cornflowerblue;
  text-decoration: none;
}

a:visited {
  color: cornflowerblue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h2 {
  padding: 20px;
}

.bg-image {
  /* The image used */
  background-image: url("background.jpg");

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  align-content: center;

  height: 100%;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  /* height */
  height: 128px;
}

/* Position text in the middle of the page/image */
.bg-content {
  color: white;
  font-weight: bold;
  padding: 20px;
  flex: auto auto auto;/* The same as your div height */
}

.container-dark {
  background-color: #1b1d1f;
  text-align: center;
  padding: 60px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.container-light {
  color: #1b1d1f;
  background-color: white;
  text-align: center;
  padding: 60px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.container-red {
  color: white;
  background-color: rgb(209, 71, 71);
  text-align: center;
  padding: 60px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.bottom-bar {
  background-color: #111;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-size: .8em
}